.customer-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-form-button {
  width: 40%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.toggle-form-button:hover {
  background-color: #0056b3;
}
