/* Tiffins.css */
.tiffin-container {
  padding: 20px;
}

.create-tiffin-form {
  margin-bottom: 20px;
}

.create-tiffin-form input,
.create-tiffin-form select,
.create-tiffin-form button {
  margin: 5px 0;
}

.tiffin-list table {
  width: 100%;
  border-collapse: collapse;
}

.tiffin-list table, th, td {
  border: 1px solid #ddd;
}

.tiffin-list th, td {
  padding: 8px;
  text-align: left;
}

/* Tick for yes and no in tiffin*/
.status-icon {
  font-size: 1.2em; /* Adjust the size as needed */
  margin-right: 5px;
}

.tick {
  color: green; /* Color for the checkmark */
}

.cross {
  color: red; /* Color for the cross */
}
